.special-offer-title {
    color: red;
}

.special-offers {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    flex-wrap: wrap;
}

.products-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}